USE [EDU2025]
GO
/****** Object:  StoredProcedure [dbo].[add_xml_data]    Script Date: 12.02.2025 23:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[add_xml_data]
	@Institution int
	, @EducationForm int
	, @DataAll xml
	, @FilePath varchar(255)
AS
BEGIN
	DECLARE @Data xml = @DataAll.query('/*')
	INSERT INTO education_plan (id_institution, id_education_form, data, file_path)
	VALUES (@Institution, @EducationForm, @Data, @FilePath)
	
END;
GO
/****** Object:  StoredProcedure [dbo].[dublicate_check]    Script Date: 12.02.2025 23:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*DECLARE @FullXml xml;
SELECT @FullXml = BulkColumn
FROM openrowset (BULK 'D:\khsu\Планы\ИТИ\ОФО\09.03.01_ИВТ_ПОВТиАС_3к_2024.plx', SINGLE_BLOB) AS x

EXEC add_xml_data
	@Institution = 11
	, @EducationForm = 1
	, @DataAll = @FullXml
	,	@FilePath = 'Планы\ИТИ\ОФО\09.03.01_ИВТ_ПОВТиАС_3к_2024.plx';
*/

CREATE PROCEDURE [dbo].[dublicate_check]
	@Institution int
	, @EducationForm int
	, @FilePath varchar(255)
AS
BEGIN
	IF EXISTS (
		SELECT 1
		FROM education_plan
		WHERE id_institution = @Institution
		AND id_education_form = @EducationForm
		AND file_path = @FilePath
	)
	BEGIN
		SELECT id FROM education_plan WHERE file_path = @FilePath
		PRINT 'Запись уже существует. ';
	END
	ELSE
	BEGIN
		PRINT 'Запись не существует.';
	END;
END;
GO
/****** Object:  StoredProcedure [dbo].[get_id_education_plan]    Script Date: 12.02.2025 23:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[get_id_education_plan]
	@identifier varchar(255)
as
begin
	SELECT id
		FROM education_plan
		WHERE file_path = @identifier
end
GO
/****** Object:  StoredProcedure [dbo].[get_table_columns]    Script Date: 12.02.2025 23:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[get_table_columns]
	@table varchar(200)
as
begin
with src as (
select
  t,
  c,
  max(ns) ns,
  case
    when sum(iif(dt = 'bit', 1, 0)) = count(dt) then 'bit'
    when sum(iif(dt = 'bit' or dt = 'int', 1, 0)) = count(dt) then 'int'
	when sum(iif(dt in ('bit', 'int', 'decimal'), 1, 0)) = count(dt) then 'decimal(9, 3)'
    when sum(iif(dt = 'datetime2', 1, 0)) = count(dt) then 'datetime2'
	when sum(iif(try_convert(int, dt) is not null or dt = 'bit' or dt = 'int', 1, 0)) = count(dt) then
		concat('varchar(', 
			max(
				case dt when 'int' then 10 when 'bit' then 1 else TRY_CONVERT(int, dt) end
			),
			')'
		)
	else null
  end data_type
from 
  tbl
group by 
  t, c
)
select c, ns, data_type from src where t = @table for xml raw, type, root('get_table_columns')
end
GO
/****** Object:  StoredProcedure [dbo].[get_tables_names]    Script Date: 12.02.2025 23:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[get_tables_names]
as
begin
    select t
    from tbl
    group by t
    for xml raw, root, type
end
GO
